<div data-ng-controller="LoginCtrl as login">
    <div class="alert alert-danger animated fadeIn" ng-show="login.loginError">{{login.loginError}}</div>
    <h2>Login</h2>
    <form id="login_form" ng-submit="login.login()">
        <div class="input-wrapper">
            <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="login.user.email" class="input">
            <div class="error_message">Please enter a correct info #</div>
        </div>
        <div class="input-wrapper">
            <input required id="password_block" name="password" type="{{login.input.type}}" placeholder="{{login.input.placeholder}}" ng-model="login.user.password">
            <div class="error_message">Please enter a correct info #</div>
            <span class="pic password {{login.input.iconClass}}" ng-click="login.togglePasswordVisible()">
                      <div class="hide_text_password">
                          {{login.input.tooltipText}}
                      </div>
                </span>
        </div>
        <div class="forgot_password">
            <a ui-sref='forgot-password'>¿Olvidaste tu contraseña?</a>
        </div>
        <div class="button_login">
            <button type="submit" class="submit_button">Inicio</button>
            <p>¿No tienes una cuenta?</p>
            <a ui-sref='auth.register' >Registrate</a>
        </div>
    </form>
</div>
