header {
    background-image: url('/furniture/assets/img/fondo.jpg')!important;
}

header h1 {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}

header p {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}
.image-container {
    width: 40%;
}
.price-container p{
    font-weight: bold;
    font-size:20px;
}

.monthly-container {
    display: inline;
}

.monthly-payment h3 {
    color: white !important;
}

.info-container {
    padding-top: 1% !important;
}

.info-container ul {
    padding-left: 3px !important;
}

.info-container h1 {
    font-size: 30px !important;
    font-weight: bold;
}

.info-container .price {
    font-size: 25px;
    padding-left: 0px !important;
    font-weight: bold;
    color: #00acc1;
}

.info-container ul li {
    display: inline-block;
    padding-left: 2%;
    font-weight: bold;
    font-size: 13px;
}

.subtotal-container {
    height: 35px;
    width: 60%;
    background-color: #26c6da;
    border-radius: 5px;
    margin-top: 10px;
}

.subtotal-container p {
    padding: 2%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.prepayment-container li select {
    font-size: 13px;
    margin-right: 50px;
}

.image-container img {
    width: 100%;
    margin-top: 40px;
    max-height: auto;
}

.buyer-info {
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 5px;
    width: 38% !important;
}
.buyer-info p {
    padding-top: 5%;
}
.monthlys-container{
    margin-top: 2%;
    margin-left: 2%;
    width:57% !important;
    padding-top: 2%;
}
.monthlys-container div label {
    font-size:15px; 
    margin-top: 2%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    font-size: 30px;
    margin: 0;
}

input[type=number] {
    font-size: 13px !important;
}
