<div class="container" data-ng-controller="BuyController" data-ng-init="findOne()">
    <div class="row col-md-12">
        <div class="col-md-4 image-container">
            <img ng-src="{{furniture.image}}" alt="">
        </div>
        <div class="col-md-7 info-container">
            <h1>{{furniture.articleDescription}}</h1>
            <p>{{furniture.description}}</p>
            <ul>
                <li class='price'>Precio: {{getRealPrice(12, furniture.price) | currency}}</li>
                <li><span>Cantidad</span></li>
                <li>
                    <input type="Number" class="form-control" min="1" value="1" data-ng-model="quantity" />
                </li>
            </ul>
            <ul class="prepayment-container">
                <li>
                    <input type="checkbox" id="prePayment" data-ng-model="prePayment"> ¿Quieres pagar enganche?</li>
                <li data-ng-show="prePayment">
                    <p>Enganche sugerido: 20%</p>
                </li>
            </ul>
            <div class='subtotal-container' data-ng-show="prePayment" data-ng-model="prePaymentTotal">
                <p>Enganche :{{ prePaymentTotal | currency}} </p>
            </div>
            <div class='subtotal-container' data-ng-show="prePayment" data-ng-model="bonusTotal">
                <p>Bonificación: {{bonusTotal | currency}}</p>
            </div>
            <div class='subtotal-container' data-ng-model="totalPrice">
                <p>Total Adeudo: {{ totalPrice | currency}}</p>
            </div>
        </div>
    </div>
    <div class="row col-md-12 ">
        <div class="mdl-card mdl-shadow--2dp demo-card-square col-md-4 buyer-info">
            <p data-ng-model="user">
                <span><strong>Cliente:</strong> {{user.name}}</span>
                <br>
                <span><strong> Dirección:</strong> {{user.address }}</span>
                <br>
                <span><strong>Ciudad:</strong> {{user.city}} , {{user.state}}</span>
                <BR>
                <span><strong>folio:</strong> 0000120</span>
                <br>
                <span><strong>Fecha:</strong> 14/Agosto/2015</span>
                <br>
                <span><strong>RFC:</strong> {{user.RFC}}</span>
                <br>
            </p>
        </div>
        <div class="mdl-card mdl-shadow--2dp demo-card-square col-md-7 monthlys-container">
            <div data-ng-repeat="monthly in monthlys">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="{{monthly.value}}" checked />
                    <span class="mdl-radio__label"><strong>{{monthly.str}} </strong> </span>
                    <span data-ng-model="payMonth">{{getPayForMonth(monthly.value, furniture.price,quantity) | currency}}</span>
                    <span><strong>Total a pagar </strong> </span>
                    <span data-ng-model="totallyMonth">{{getTotallyForMonth(monthly.value, furniture.price,quantity) | currency}}</span>
                    <span><strong>Se ahorra </strong> </span>
                    <span data-ng-model="savings">{{getSavings(monthly.value, furniture.price,quantity) | currency}}</span>
                </label>
            </div>
        </div>
    </div>
</div>
