<div class="" data-ng-controller="FurnitureController" data-ng-init="find()"    >
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>La vendimia</h1>
            <p>Calidad en productos</p>
        </header>
        <hr>
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Últimas ofertas</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Features -->
        <div class="row text-center">
            <div class="col-md-3 col-sm-6" data-ng-repeat="furniture in furnitures">
                <div class="thumbnail">
                    <img src="{{furniture.image}}" alt="">
                    <div class="caption price-container">
                        <h6>{{furniture.articleDescription}}</h6>
                        <p> {{furniture.price | currency}} + IVA</p>
                        <a href="furniture/{{furniture._id}}/buy" class="btn btn-primary">Comprar!</a> <a href="furniture/{{furniture._id}}/info" class="btn btn-default">Información</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; La vendimia 2015</p>
                </div>
            </div>
        </footer>
    </div>
</div>
