<div class="container" data-ng-controller="BuyController" data-ng-init="findOne()">
    <div class="row col-md-12">
        <div class="col-md-4 image-container">
            <img ng-src="{{furniture.image}}" alt="">
        </div>
        <div class="col-md-7 info-container">
            <h1>{{furniture.articleDescription}}</h1>
            <p>{{furniture.description}}</p>
            <ul>
                <li class='price'>Precio: {{getRealPrice(12, furniture.price) | currency}}</li>
                <li><a href="furniture/{{furniture._id}}/buy" class="btn btn-primary">Comprar</a>
                </li>
            </ul>
        </div>
    </div>
